#footer.navbar.navbar-fixed-bottom.navbar-inverse
	.footerCopy Copyright © DynaTune #{new Date().getFullYear()}
	a(href='/page?name=about') about
	|	| 
	a(href='/page?name=contact') Contact Us
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js")
script(src='/javascripts/scripts.js')