extends index
block footer
	#footer.navbar.navbar-fixed-bottom.navbar-inverse.footer
		.footerCopy Copyright © DynaTune #{new Date().getFullYear()}
		a(href='/page?name=about') about
		|	| 
		a(href='/page?name=contact') Contact Us

