doctype 5
html
	head
	title= title
	link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
body
	h1= title
	p Welcome to #{title}









include footer