include header
include contentFeed
include newsfeed


	include facebook.html
	.row-fluid
		a.mainLogoLink(href="/")
			.hero-unit.mainLogo.span5.offset1
				h1 #{title}
				p the dynamic playlist creator
	form.artistSearchForm
		input.artistSearch(type='text', name='artistSearch', placeholder='Search an artist')
		input.artistSearchSubmit.btn.btn-success(type='submit', name='artistSearchSubmit', value='Go!')
	//- include login
include footer
