include header

//- need to find a way to add dynamic content to these list items
.row-fluid
	.newContentFeed.span6.offset1
		ul
			li new newContent
			li more new stuff
			li even more!



include footer