if firstpage
	.row-fluid
		.newContentFeed.span7.offset1.contentFeed
			p.newContentFeedTitle Here's What's New!
				ul.newContent
					li NEW SONGS!
					li more new stuff
					li even more!
					li others!