extends index

block content
	if username
		.login	
			p #{username}
			p testing!
	else
	.login
		form(method='post')
			fieldset
				input.loginInput(type='text', name='username', placeholder='Username')
				input.loginInput(type='password', name='password', placeholder='Password')
				input.btn.btn-info.btn-small(type='submit', value="Log In!")



