.footerCopy
	color gainsboro

#footer
	padding 10px

.mainLogo
	padding 25px
	margin-left 5%
	width 50%

.login
	padding 15px
	position absolute
	right 5px
	top 5px

.loginInput
	margin-top 10px
	margin-right 10px
	width 150px

.newContentFeed
	background-color cyan
	padding 15px

.newContentFeedTitle
	text-align center

.relatedArtists
	list-style none
	li
		font-size 2em
		display inline
		margin 5px
		vertical-align super


.artistImage

body
	margin-bottom 100px

.relatedArtistList
	display block
	border thin solid black
	width auto
	height auto
	margin-bottom 10px
.relatedArtistImage
	display inline-block
	height 100px
	width 225px
.artistSearch
	margin-left 25%