body
	margin 0px
	padding 0px
	background url('/images/bgSplash.png') no-repeat center center fixed
.footerCopy
	color gainsboro

#footer
	padding 10px
	margin-left 0px
	margin-right 0px
	position fixed

.mainLogo
	padding 25px
	margin-left 5%
	width 50%

.login
	padding 15px
	position absolute
	right 5px
	top 5px

.loginInput
	margin-top 10px
	margin-right 10px
	width 150px

.mainLogoLink *
	color green

.rememberMe
	display inline-block
	margin-right 10px

.contentFeed
	border-radius 5px
	background-color gainsboro
	padding 15px
	box-shadow 0 0 10px black
	margin-bottom 20px
.contentFeedTitle
	text-align center

#relatedArtists
	list-style none
	li
		font-size 2em
		display inline
		margin 5px
		vertical-align super
.newContentFeed
	border-radius 5px
	background-color #00B8E6
	padding 15px
	box-shadow 0 0 10px black

.newContentFeedTitle
	text-align center

.artistImage

body
	margin-bottom 100px

.toggleSignUp
	text-shadow 0 0 5px black
	float right

.relatedArtistList
	display block
	border thin solid black
	width auto
	height auto
	margin-bottom 10px

.relatedArtistImage
	display inline-block
	height 100px
	width 225px

.artistSearch
	margin-left 25%

#loginSplash, #signUp
	width 50%
	border-radius 20px
	padding 20px
	background-color rgba(100, 100, 100, .9)
	margin-top 25%
	box-shadow 0 0 1000px white

.logoSplash
	color white
	text-align center
	
#signInModal
	overflow visible
	max-width 650px
	height 260px
	position absolute

.modal-title
	padding-left 20px
.close
	margin-right 20px
